@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Theme */
:root {
  /* Backdrop and Primary Colors */
  --backdrop: #ffffff;
  --surface: #f5f5f5;
  --onSurface: #1a1a1a;
  --primary: #5cc6bb;
  --primaryHover: #48a99e;
  --primary2: rgba(92, 198, 187, 0.5);
  --secondary: #3b82f6;
  --error: #ef4444;

  /* Text Colors */
  /* --textPrimary: #000000; */
  --textPrimary: #1a1a1a;
  --textSecondary: #4b5563;

  /* Borders and Outlines */
  --outline: #d1d5db;
  --accent-light: #fbbf24;
  --accent: #f59e0b;
  --accent-dark: #d97706;
  --highlight: #10b981;
  --neutral-50: #fafafa;
  --neutral-900: #111827;
  --textSubtle: #6b7280;
}

/* Dark Theme */
.dark {
  /* Backdrop and Primary Colors */
  --backdrop: #121212;
  --surface: #1e1e1e;
  --onSurface: #e0e0e0;
  --primary: #5cc6bb;
  --primaryHover: #48a99e;
  --secondary: #03dac6;
  --error: #cf6679;

  /* Text Colors */
  /* --textPrimary: #ffffff; */
  --textPrimary: #e0e0e0;
  --textSecondary: #b3b3b3;

  /* Borders and Outlines */
  --outline: #292929;
  --accent-light: #fbbf24;
  --accent: #f59e0b;
  --accent-dark: #d97706;
  --highlight: #10b981;
  --neutral-50: #fafafafa;
  --neutral-900: #111827;
  --textSubtle: #4b5563;
}

html {
  transition: background-color 0.3s, color 0.3s;
}

@keyframes stripes {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
}

@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}

.area {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1;
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
  background: var(--primaryHover);
	animation: animate 25s linear infinite;
	bottom: -150px;
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}