@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Theme */
:root {
  /* Backdrop and Primary Colors */
  --backdrop: #ffffff;
  --surface: #f5f5f5;
  --onSurface: #1a1a1a;
  --primary: #1f2937;
  --secondary: #3b82f6;
  --error: #ef4444;

  /* Text Colors */
  --textPrimary: #000000;
  --textSecondary: #4b5563;

  /* Borders and Outlines */
  --outline: #d1d5db;
  --accent-light: #fbbf24;
  --accent: #f59e0b;
  --accent-dark: #d97706;
  --highlight: #10b981;
  --neutral-50: #fafafa;
  --neutral-900: #111827;
  --textSubtle: #6b7280;
}

/* Dark Theme */
.dark {
  /* Backdrop and Primary Colors */
  --backdrop: #121212;
  --surface: #1e1e1e;
  --onSurface: #e0e0e0;
  --primary: #bb86fc;
  --secondary: #03dac6;
  --error: #cf6679;

  /* Text Colors */
  --textPrimary: #ffffff;
  --textSecondary: #b3b3b3;

  /* Borders and Outlines */
  --outline: #292929;
  --accent-light: #fbbf24;
  --accent: #f59e0b;
  --accent-dark: #d97706;
  --highlight: #10b981;
  --neutral-50: #fafafafa;
  --neutral-900: #111827;
  --textSubtle: #4b5563;
}

html {
  transition: background-color 0.3s, color 0.3s;
}